<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">User</a>
        </div>

    </div>
</nav>
<div class="container-fluid" ui-view ></div>
