<h1>Document</h1>
<h3>Liste des documents a envoyer:</h3>
<ul>
    <li>Carte d'itentité</li>
    <li>Permis de conduire</li>
    <li>Quittance de loyer</li>
    <li>Attestation</li>
</ul>
<form class="form-horizontal" name="uploadForm" novalidate ng-submit="submitFormTwo()">
    <input ng-model="pathObject" type="file" name="document" id="fichier" /><br>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-success" type="submit">Ajouter document</button>

        </div>
    </div>
</form>
<div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        <ul>
            <div ng-repeat="document in documentsUser">
                <li>{{document}}</li>
            </div>
        </ul>
    </div>
</div>
<h1>Liste des actions possibles a effectuer</h1>
<div ng-show="affAsset">

    <ul>
        <div ng-repeat="asset in assetsList">
            <li><input type="checkbox" value="checkbox" ng-model="answers[asset.id]" ng-change="stateChanged(asset.id)">{{asset.action}} </li>
        </div>
    </ul>
    <button ng-click="submitAsset()" type="button" class="btn btn-success" name="valide">Validez les actions</button>

</div>
<h2>Communication</h2>
<h3>Question</h3>
<div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        <textarea ng-model="question" name="question" rows="8" cols="80">Entrez votre question ici</textarea><br><br>
        <button ng-click="envoiQuestion()" type="button" class="btn btn-success" name="button">Envoyez la question</button>
    </div>
</div>

<h3>About me</h3>
<div class="form-group">
    <div class="col-md-offset-3 col-md-9">
        <textarea ng-model="aboutMe" name="aboutMe" rows="8" cols="80">Entrez vos informations ici</textarea><br><br>
        <button ng-click="envoiAboutMe()" type="button" class="btn btn-success" name="button">Envoyez</button>
    </div>
</div>
