<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="accueil">Admin</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ui-view></div>
</div>
