<h1>Connexion</h1>

<div class="container-fluid">

    <label for="Pseudo ou email">Pseudo ou email</label>
    <input ng-model="pseudo" type="text" name="Pseudo ou email">
    <br><br>
    <label for="Password">Password</label>
    <input ng-model="password" type="password" name="Password">
    <br><br>

    <button ng-click="checkCondition()" type="button" name="validation">Se connectez</button>

    <button ui-sref="inscription()" type="button" name="validation">Inscription</button>
</div>
