<h1>Formulaire d'inscription</h1>
<form class="form-horizontal" name="registerForm" novalidate ng-submit="submitForm()">

    <div class="form-group">
        <label class="col-md-3 control-label" for="Nom">Nom</label>
        <div class="col-md-4">
            <input id="Nom" type="text" class="form-control" name="Nom" ng-model="Nom" />
        </div>
    </div>
    <div class="form-group">

        <label class="col-md-3 control-label" for="Prenom">Prenom</label>
        <div class="col-md-4">
            <input id="Prenom" type="text" class="form-control" name="Prenom" ng-model="Prenom" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="Adresse">Adresse</label>
        <div class="col-md-4">
            <input id="Adresse" type="text" class="form-control" name="Adresse" ng-model="Adresse" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="CodePostal">Code Postal</label>
        <div class="col-md-4">
            <input id="CodePostal" type="text" class="form-control" name="CodePostal" ng-model="CodePostal" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="Email">Email</label>
        <div class="col-md-4">
            <input id="Email" type="email" class="form-control" name="Email" ng-model="Email" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-success" type="submit">Valider</button>

        </div>
    </div>
    </div>
</form>
