<h1>Creation de l'asset</h1>
<div class="container-fluid">

    <h2>Liste des inscriptions a valider:</h2>
    <ul ng-show="!validation">
        <div ng-repeat="user in userList">
            <form class="form-horizontal" name="registerForm" novalidate>
                <li ng-show="!user.valid">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="Nom">Nom</label>
                        <div class="col-md-4">
                            <input id="Nom" type="text" class="form-control" name="Nom" value="{{user.nom}}" />
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-md-3 control-label" for="Prenom">Prenom</label>
                        <div class="col-md-4">
                            <input id="Prenom" type="text" class="form-control" name="Prenom" value="{{user.prenom}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="Adresse">Adresse</label>
                        <div class="col-md-4">
                            <input id="Adresse" type="text" class="form-control" name="Adresse" value="{{user.adresse}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="CodePostal">CodePostal</label>
                        <div class="col-md-4">
                            <input id="CodePostal" type="text" class="form-control" name="CodePostal" value="{{user.codePostal}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="Email">Email</label>
                        <div class="col-md-4">
                            <input id="Email" type="email" class="form-control" name="Email" value="{{user.email}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <button type="button" ng-click="creationUtilisateur(user)" name="button">Valider Utilisateur</button>
                        </div>
                    </div>
        </div>
        </li>
        </form>
    </ul>

    <button type="button" ng-click="terminerValidation(test)" name="buttonEnd">Terminer validations</button>

    <h2>Liste des questions</h2>
    <ul>
        <div ng-repeat="question in questions">
            <li ng-show="!question.done">
                <h2>{{question.text}}</h2>
                <input type="text" name="reponse" ng-model="reponseQuestion">
                <button type="button" name="buttonRep" ng-click="repondreQuestion(reponseQuestion, question)">Repondre</button>
            </li>
        </div>
    </ul>
</div>
